$font-stack: Helvetica, sans-serif;
$weight: bold;
$color-1: #191919;
$color-2: #F60506;
$color-3: #CAC0C0;
$color-4: #4D4E4D;
$color-5: #000000;
$shadow: 1px 1px 60px 12px rgba(255, 255, 255, 0.83);
$content : center;
$display: flex;